<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include "merge_config.wxi"?>
  <!--old GUID 90954DBC-2AF8-45EB-AA9A-53ED5397642F -->
	<Product Id="*" Name="Massallkirjastamine ($(var.Platform))" Language="1033" Version="$(var.VERSION)" Manufacturer="NORTAL" UpgradeCode="$(var.upgradeCode)">
		<Package InstallerVersion="405" Keywords='Installer' Compressed="yes" InstallScope="perMachine" Platform="$(var.Platform)" />
    <UIRef Id="WixUI_Minimal" />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high"/>
    <Icon Id="Icon.ico" SourceFile="$(var.SolutionDir)media/ID.ico"/>
    <Property Id="ARPPRODUCTICON" Value="Icon.ico"/>
    <Property Id="ARPNOREPAIR" Value="yes" Secure="yes" />
    <Property Id="PREVIOUSVERSIONSINSTALLED" Secure="yes" />
    
    <Upgrade Id="$(var.upgradeCode)">
      <UpgradeVersion
         Minimum="1.0.0.0" Maximum="99.0.0.0"
         Property="PREVIOUSVERSIONSINSTALLED"
         IncludeMinimum="yes" IncludeMaximum="no" />
    </Upgrade>

    <InstallExecuteSequence>
      <RemoveExistingProducts After="InstallInitialize" />
    </InstallExecuteSequence>

    <Directory Id='TARGETDIR' Name='SourceDir'>
      <Directory Id='ProgramFilesFolder' Name='PFiles'>
        <Directory Id='NORTAL' Name='Nortal'>
          <Directory Id='INSTALLDIR' Name='Mass Token Signing'>
            <Merge Id="ff_plugin" Language="1033" SourceFile="$(var.ff_module)" DiskId="1" />
            <Merge Id="ie_plugin" Language="1033" SourceFile="$(var.ie_module)" DiskId="1" />
            <Merge Id="ch_plugin" Language="1033" SourceFile="$(var.ch_module)" DiskId="1" />
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <Feature Id="Msm" Title="Msm" Level="1">
      <MergeRef Id="ff_plugin" />
      <MergeRef Id="ie_plugin" />
      <MergeRef Id="ch_plugin" />
    </Feature>
	</Product>
</Wix>
