<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <?include "ie_config.wxi"?>
	<Module Id="IE_token_signing_install_module" Language="1033" Version="$(var.VERSION)">
		<Package Id="8D05DC6D-64B3-4DFD-8E53-AD37C0AB323A" Keywords="Installer" Platform="$(var.Platform)" InstallerVersion="405" Manufacturer="NORTAL"/>

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id='ProgramFilesFolder'>
        <Directory Id="APPLICATIONFOLDER" Name="IE Token Signing Plugin Mass">
          <Component Id="Application" Guid="{E37C9303-6233-4913-90D0-BCA5995D5560}" Win64="no">
            <AppId Description="IE plugin for Estonian ID Card Mass signing" Id="E74137A3-4B8A-42BF-BED7-B1ACDFB89ECC"/>
            <File Source="$(var.ExtSolutionDir)Release/esteid-plugin-ie.dll" Id="esteid_plugin_ie.dll" KeyPath="yes" Name="esteid-plugin-ie.dll">
              <TypeLib Id="{76BC53BB-3D87-4755-B85F-48C7395A6578}" Description="esteidpluginie 1.0 Type Library" Language="0" MajorVersion="1" MinorVersion="0">
                <Class Id="{9BF5CDBC-D173-44DF-9A41-7D654D478A11}" Context="InprocServer32" Description="EstEIDCertificate Class" ThreadingModel="apartment" Programmable="yes">
                  <ProgId Id="esteidpluginie.EstEIDCertificate.1" Description="EstEIDCertificate Class">
                    <ProgId Id="esteidpluginie.EstEIDCertificate" Description="EstEIDCertificate Class"/>
                  </ProgId>
                </Class>
                <Class Id="{880A49C2-E366-45A9-902B-2FBFA537FB8F}" Context="InprocServer32" Description="IE Token Signing Plugin Mass" ThreadingModel="apartment" Programmable="yes">
                  <ProgId Id="esteidpluginie.EstEIDIEPluginBHO.1" Description="IE Token Signing Plugin Mass">
                    <ProgId Id="esteidpluginie.EstEIDIEPluginBHO" Description="IE Token Signing Plugin Mass"/>
                  </ProgId>
                </Class>
                <Interface Id="{A0024F85-5662-40C3-B0A9-85646EA788ED}" Name="IEstEIDIEPluginBHO" ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}"/>
                <Interface Id="{3ECA2169-2EFC-4EB5-B83A-8DC2A6688904}" Name="IEstEIDCertificate" ProxyStubClassId32="{00020424-0000-0000-C000-000000000046}"/>
              </TypeLib>
            </File>
            <ProgId Id="MIME"/>

            <RegistryValue Root="HKCR" Key="AppID\esteid-plugin-ie.DLL" Name="AppID" Value="{E74137A3-4B8A-42BF-BED7-B1ACDFB89ECC}" Type="string" Action="write"/>
            <RegistryValue Root="HKCR" Key="MIME\Database\Content Type\application/x-digidoc-mass" Name="CLSID" Value="{880A49C2-E366-45A9-902B-2FBFA537FB8F}" Type="string" Action="write"/>
            <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\Browser Helper Objects\{880A49C2-E366-45A9-902B-2FBFA537FB8F}" Value="EstEIDIEPluginBHO" Type="string" Action="write"/>
            <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Explorer\Browser Helper Objects\{880A49C2-E366-45A9-902B-2FBFA537FB8F}" Name="NoExplorer" Value="1" Type="integer" Action="write"/>
            <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Ext\PreApproved\{880A49C2-E366-45A9-902B-2FBFA537FB8F}" Value="EstEIDIEPluginBHO" Type="string" Action="write"/>
            <RegistryValue Root="HKLM" Key="Software\Microsoft\Windows\CurrentVersion\Ext\PreApproved\{8C8D4FAA-A3FE-414C-ADD0-7B1A04893BF3}" Value="EstEIDIEPluginBHO" Type="string" Action="write"/>

            <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\CLSID\{880A49C2-E366-45A9-902B-2FBFA537FB8F}\Implemented Categories\{F2D868ED-13AA-4FDF-A6D1-095321DB814F}" Action="createAndRemoveOnUninstall"/>
            <RegistryKey Root="HKLM" Key="SOFTWARE\Classes\CLSID\{880A49C2-E366-45A9-902B-2FBFA537FB8F}\Implemented Categories\{B876CE24-EFBE-4209-8DA8-935FF717F26E}" Action="createAndRemoveOnUninstall"/>
            <RegistryKey Root="HKCR" Key="CLSID\{880A49C2-E366-45A9-902B-2FBFA537FB8F}\Implemented Categories\{B876CE24-EFBE-4209-8DA8-935FF717F26E}" Action="createAndRemoveOnUninstall"/>
            <RegistryKey Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\Ext\CLSID" Action="create"/>
            <RegistryValue Root="HKLM" Key="SOFTWARE\Microsoft\Windows\CurrentVersion\Policies\Ext\CLSID" Name="{880A49C2-E366-45A9-902B-2FBFA537FB8F}" Value="1" Action="write" Type="string"/>
          </Component>
        </Directory>
      </Directory>

    </Directory>
    
	</Module>
</Wix>
